footer.footer   
  .footer__logo   
    img(src='/img/logo-green.png' alt='Natour logo')
  ul.footer__nav
    li: a(heref='#') About us
    li: a(heref='#') Download apps
    li: a(heref='#') Become a guide
    li: a(heref='#') Careers
    li: a(heref='#') Contact
  p.footer__copyright &copy; by Hakan Basturk